/* CSS TO STYLE THE WEBAPP */

body {
  background-color: rgb(206, 239, 196);
}

h2 {
  color: #3b5998;
}

.btn-primary {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-primary:hover {
  background-color: #2d4373;
  border-color: #2d4373;
}

#map {
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

select {
  max-height: 200px;
  /* Set the maximum height */
  overflow-y: auto;
  /* Enable vertical scrolling */
}